:root {
  --swiper-theme-color: #603EBE;
}


.h-240 {
  height: 240px;
}

.h-480 {
  height: 480px;
}

.footballer-mobile {
  position: absolute;
  top: 120px;
  left: 0px;
  margin: 0 auto;
  height: 500px;
}

.basketballer-mobile {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  height: 300px;
}